.productitem {
  display: flex;
  width: 200px;
  height: 200px;
  padding: 10px;
  margin: auto;
  background-color: #0066ff2b;
  overflow: hidden;
}

.productitem img {
  width: 90%;
  height: 90%;
  margin: auto;
  background-color: white;
}

.productdetails {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}

.productdetails > * {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}

.productdetails .name {
  font-size: 17px;
}

.productitem .carticon {
  position: absolute;
}
