.productsgrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .productsgrid {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 40px;
  }
}
