.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  background-color: #2E0052;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  font-weight: bold;
}

.loginsignup {
  padding-right: 40px;
}

.contact {
  padding-left: 40px;
}

.phone-icon {
  margin-right: 10px;
}

.navbar-item {
  cursor: pointer;
}

.extramargin {
  margin-top: 20px;
  min-height: 2px;
}
